*, *::before, *::after {
  box-sizing: border-box;
font-family: 'Muli', sans-serif;
font-style: normal;
font-weight: 400;
overflow: hidden;
}
body {
  padding:0;
  margin:0;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#back {
  height: 350%;
  width: 200%;
}
.container, #box {
  width:500px;
  max-width: 80%;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  position: absolute;
  background-color: #DF9DB5;
  opacity: .9;
}

.container #text {
  margin: 25px;
  margin-left: 50px;
  margin-bottom: -250px;
  width: 400px;

}

.btn-grid {
  height: 200px;
  width: 500px;
  display: flex;
  margin-top: 200px;
  margin-bottom: 40px;
  justify-content: center;
  position: relative;
  right: 10px;
  top: 50px;
  /* background: rgba(225, 255, 255, .5); */
}

.btn {
  opacity: 1;
  width: 80px;
  height: 80px;
  border: 1px  #0F0F3E;
  border-radius: 50%;
  color: black;
  margin: 20px;
  margin-top: 60px;
  image-resolution: 300%;
  background-color: white;
}

.btn:hover, #hope {
  color: #372F45;
  box-shadow: 0 0 10px 5px #372F45;
  font-weight: 800;
    font-size: 100%;
}
:hover {
  color:white, #372F45;
  font-weight: 800;
}
#startpagetitle  {
  width: 400px;
  position: relative;
  left: 9%;
  align-content: center;

  font-size: 400%;
  font-weight: 700;
  opacity: .8;

  /* margin-left: 12px; */

}
#startpagetitle1 {
  width: 400px;
  position: relative;
  margin-top: 10px;
  left: 27%;
  align-content: center;

  font-size: 400%;
  font-weight: 700;
  opacity: .8;

  /* margin-left: 12px; */

}
{
/* #counter {
  z-index: 99;
  height: 100px;
  width: 100px;
  background: white;
} */
