*, *::before, *::after {
  box-sizing: border-box;
font-family: 'Muli', sans-serif;
font-style: normal;
font-weight: 400;
overflow: hidden;

}

body {
  padding:0;
  margin:0;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color:#333; */
}
#back {
  height: 350%;
  width: 200%;

}

.container, #box {
  width:500px;
  max-width: 80%;

  /* background-color: #DF9DB5; */
  padding: 10px;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px 2px;
  position: absolute;
  background-color: #DF9DB5;
  opacity: .9;

}
.container #text {
  margin: 25px;
  margin-bottom: -250px;

}

.btn-grid {
  /* background: white; */
  height: 200px;
  width: 500px;
  display: flex;
  margin-top: 200px;
  margin-bottom: 40px;
  justify-content: center;
  position: relative;
  right: 10px;
  top: 50px;
  /* background: rgba(225, 255, 255, .5); */
}


    /* background: url("knifenounproject.png") 10px 50px; */

.btn {
  /* background-color:red; */
  opacity: 1;
  width: 80px;
  height: 80px;
  border: 1px  #0F0F3E;
  border-radius: 50%;
  /* padding: 25px 10px; */
  color: black;
  margin: 20px;
  margin-top: 60px;
  image-resolution: 300%;
  background-color: white;

}

/*  */
/* .button1 {
  background-color: yellow;
} */
/* .green {

} */
.btn:hover, #hope {

  color: black;
  box-shadow: 0 0 10px 5px black;
  font-weight: 800;

}
:hover {
  color:white, black;
  font-weight: 800;
}
#startpagetitle  {
  font-size: 400%;
  font-weight: 700;
  opacity: .8;
  margin-left: 10px;
  align-self: center;

}
{
/* #counter {
  z-index: 99;
  height: 100px;
  width: 100px;
  background: white;
} */

/* .btn {
    background: url("knifenounproject.png");
} */
}
/*
#gold:hover {
  background-color: #7C7C7C;
box-shadow: 0 0 10px 2px #0F0F3E;
} */
