.sitebody {
    font-family: serif;
    margin:0;
    margin-left: 220px;
    padding:0;
    border:  2px;
    color: white;
    background-color: grey;
    width: 1074px;
    position: relative;
    justify-content: center;

}

.sitebody h1 {

  font-size: 50px;
  font-weight: lighter;

  /* background-color: lightblue; */
  margin: 0;
  padding: 0;
  text-align: center;


}

#onenav {
  text-align: center;
  /* background-color: lightblue; */
  margin:0;
  padding:0;
}

.parallax-window {
    margin: 0;
    padding: 0;
    image-size: 50%;
    height:400px;
    background: transparent;
}
.parallax-window1 {
    margin: 0;
    padding: 0;

    height:400px;
    background: transparent;
}
.parallax-window2 {
    margin: 0;
    padding: 0;

    height:400px;
    background: transparent;
}
.parallax-window3 {
    margin: 0;
    padding: 0;

    height:400px;
    background: transparent;
}
.parallax-window4 {
    margin: 0;
    padding: 0;

    height:400px;
    background: transparent;
}
#onenav {
  text-align: center;
  font-size: 200%;
  margin: 15px;
}
#onenavbar {
  text-align: center;
  margin:0;
  padding:0;
  padding-top: 20px;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
  background-color: grey;
  padding-bottom: 10px;
  opacity: .8;
}

#ptwo {
  text-align: center;
  background-color: grey;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 120%;
  font-weight: 100;
  padding-bottom: 10px;
  /* opacity: .6; */
}
#froglink {

  padding:40px;
  margin:0;
}

#aone, #atwo, #athree, #afour {
  padding: 60px;
}

a:link {
  color: white;
}
a:hover {
  color: maroon;
}
