.sitebody {
    font-family: sans-serif;
    margin:0;
    padding:0;
    border: dashed 2px;
}

.sitebody h1 {

  font-size: 100px;
  font-weight: lighter;
  background-color: grey;
  margin: 0;
  padding: 0;
  text-align: center;

}

#onenav {
  text-align: center;
  background-color: lightblue;
  margin:0;
  padding:0;
}

#onenavbar {
  text-align: center;
  margin:0;
  padding:0;
  padding-top: 10px;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
  background-color: lightblue;
}

#ex3 {
  text-align: center;
  background-color: lightgreen;
  margin: 0;
  padding: 0;
}
#froglink {
  background-color: lightgreen;
  padding:0;
  margin:0;
  padding-top: ;
}
