body {
  padding: 0;
  margin: 0 auto;
  height: 1024px;
  width: 726px;
  /* vertical-align: middle; */
  background-color: #312700;
  font-family: 'hepta slab', serif;
  color: #CC7E3D;
  align-content: space-around;
}

.dashbordercontainer {
  height: 1024px;
  width: 748px;
  margin: 0;
  padding: 0;
  border: 3px;
  border-style: solid dotted;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  background-color: black;
}

.container {
  margin: 0;
  width: 678px;
  height: 850px;
  background-color: black;
  position: relative;
  left: 8px;
  bottom: 50px;
  /* margin-left:auto; */
  /* margin-right:auto; */
  /* align-content: center; */
}

.containertan {
  margin: 0;
  width: 726px;
  height: 870px;
  background-color: #EFD6AE;
}

.title {
  margin: auto;
  text-align: center;
  height: 100px;
  /* border: solid; */
  width: 100%;
  margin: 0px;
  align-content: center;
  background-color: ;
}

.title h1 {
  font-size: 570%;
  font-weight: 1000;
  align-self: center;
}

.letterrow {
  font-weight: 400;
  text-align: center;
  font-size: 158%;
  height: 40px;
  width: auto;
  position: relative;
  bottom: 2px;
  /* border-bottom: solid; */
  border-top: solid 2px;
  border-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: -6px;
  padding-top: 2px;
  /* padding may screw up my pixels */
  /* justify-content: center; */

}

/* having width and height will separate the object from the other ones? */
/* justify.content will move around space and stuff*/
.textunderrow {
  width: auto;
  height: 43px;
  margin: 0px;
  padding: 0px 0;
  /* font-size: 300%;
  text-align: left; */
  /* margin-top:0;
  margin-bottom:0; */
  background-color: ;
  border-top: solid 2px;
  border-color: black;
  box-sizing: border-box;

}

.textunderrow h3 {
  font-weight: 300;
  font-size: 200%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 2px;
}

.Antique {
  width: 726px;
  height: 106px;
  margin-top: 0;
  padding: 0;
  background-color: ;
}

.Antique h3 {
  font-weight: 700;
  font-size: 550%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 6px;
  /* margin-top: 0px; */
  /* border-bottom: solid; */
}

.textunderantique {
  width: 726px;
  height: 39px;
  padding-top: 105px;
  margin: 0;
  background-color: ;
  /* margin-top: 0px;
  margin-bottom:0px; */
}

.textunderantique h3 {
  font-weight: 300;
  font-size: 200%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 2px;
  background-color: ;
  border-top: solid 1px;
  border-color: black;
}

.Designer {
  width: 726px;
  height: 77px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 420%;
  /* margin-top: -30px; */
  font-weight: 700;
  background-color: ;
  justify-content: center;
  border-bottom: solid 1px;
  border-color: black;
  /* border-bottom: solid; */
}

.letters {
  width: 30px;
  display: flex;
  margin: 0;
  margin-top: 79px;
  padding: 0;
  position: relative;
  left: -370px;
}
/*
.letters img  {

  position: absolute;
  z-index: 99;
  top: 46px;
  left: 109px;
  visibility: visible;

} */
#capletgroup {
  position: relative;
  right: 108px;
}
#letteranalysis.letter1 {
  position: relative;
  z-index: 99;
  top: 46px;
  left: 461px;
  visibility: invisible;
}

#letteranalysis1.letter2 {
  position: relative;
  z-index: 98;
  top: 46px;
  left: 339px;
  visibility: invisible;
}
#letteranalysis2.letter3 {
  position: relative;
  z-index: 100;
  top: 262px;
  left: 218px;
  visible: invisible;
}
#letteranalysis3.letter4 {
  position: relative;
  z-index:100;
  top:262px;
  left:110px;
  visible: invisible;
}
img.invisible {
  visibility: hidden;
}

/* might need the stuff below  */
/* .letters img#letteranalysis.invisible {
  visibility: hidden;

} */
/* do once analysis is complete for lower */
/* .letters img#lower.visible {
  visibility: visible;
} */
.capitalletter {
  padding;
  0;
  margin: 0;
  margin-top: 110px;
  background-color: grey;
  display: flex;
  align-content: space-around;
}

/* this h1 includes two letters, so the height is halved */
/* maybe halve the width to flex the button */
.capitallettera {
  height: 156px;
  width: 263px;
  /* was 363px */
  margin: 0;
  padding: 0;
  display: flex;
}

.capitalletterb {
  height: 156px;
  width: 263px;
  margin-top: 76px;
  padding: 0;
  padding-right: 38%;
  display: flex;

}

.capitallettera h1 {
  /* width: 313px;  */
  width: 363px;
  height: 200px;
  font-size: 1000%;
  padding: 0;
  margin: 0;
  padding-left: 80px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: ;
}

.capitalletterb h1 {
  /* width: 363px;  */
  width: 363px;
  height: 200px;
  font-size: 1000%;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  padding-left: 80px;
  background-color: ;
}

.capitalletter bcontainer {
  height: 32px;
  width: 181px;
  background-color: #grey;
  /* was EFD6AE */

  display: flex;
}

#butta {
  height: 32px;
  width: 32px;
  align-self: center;
  border: 2px solid #CC7E3D;
  border-radius: 50%;
  background-color: #EFD6AE;
  margin-top: 80px;
  margin-left: 30px;
  position: relative;


  z-index: 98;
}

#buttb {
  height: 32px;
  width: 32px;
  align-self: center;
  border: 2px solid #CC7E3D;
  border-radius: 50%;
  background-color: #EFD6AE;
  margin-top: 80px;
  margin-left: 50px;
  position: relative;
  z-index: 98;
}

#butt1 {
  height: 32px;
  width: 32px;
  align-self: center;
  border: 2px solid #CC7E3D;
  border-radius: 50%;
  background-color: #EFD6AE;
  margin-top: 120px;
  margin-left: -32px;
  position: relative;
  z-index: 98;

}

#butt2 {
  height: 32px;
  width: 32px;
  align-self: center;
  border: 2px solid #CC7E3D;
  border-radius: 50%;
  background-color: #EFD6AE;
  margin-top: 120px;
  margin-left: -32px;
  position: relative;
  z-index: 98;
}
.abouttheface h1 {
  margin: 0;
  padding: 0;
  margin-left:0;
  height: 40px;
  width: 363px;
  background-color: ;
  align-content: center;
  position: relative;
  top: 30px;
  justify-content: center;
  font-weight:400;
  color: #CC7E3D;
}

#ptitle {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  position: relative;
  left: 35px;
  bottom: 20px;
}

.abouttheface p {
  margin: 0;
  padding: 0;
  margin-left: 100px;
  height: 40px;
  width: 363px;
  color: black;
  background-color: ;
  align-content: center;
  position: relative;
  top: 30px;
  justify-content: center;

}

#info1 {
  margin: 0;
  height: 150px;
  width: 300px;
  /* not sure why this is */
  font-size: 75%;

  padding:0;
  padding-top:20px;
  padding-left: 20px;
  background-color: ;
  align-content: center;
  font-weight: 400;
  position: relative;
  top: -15px;
  left: 15px;
}

#info2 {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-top:-20px;
  padding-left:20px;
  margin-top:0;
  height: 195px;
  width: 300px;
  position:relative;
  top: -15px;
  left: 15px;
  /* again this is a mystery to me */
  font-size: 75%;
  font-weight: 400;


  background-color: ;
}

.footer img {
  height: 50px;
  width: 50px;
  /*width: 50px;*/
  position: relative;
  border-radius: 50%;

}

#myface {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: solid 2px;
  border-color: #CC7E3D;
  box-sizing: border-box;
  position: relative;
  left: 15px;

}
.box {
  width: 726px;
  height: 131px;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  background-color: black;
  display: flex;
  position: absolute;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

.footerformat {
  display: flex;
}

.author h3 {
  font-weight: 200;
  font-size:70%;
  margin:0;
  padding:0;
  padding-top:30px;
  padding-left: 10px;
  position: relative;
  left: 20px;
  top: 4px;

}
.author h4 {
  font-weight: 200;
  font-size:70%;
  margin:0;
  padding:0;
  padding-top:20px;
  padding-left: 10px;
  position: relative;
  left: 20px;
  bottom: 11px;
}
.author h5 {
  font-weight: 100;
  font-size:60%;
  margin:0;
  padding:0;
  position: relative;
  left: 31px;
  bottom: 6px;

}
#References {
  font-size: 70%;
  font-weight: 300;
  width: 400px;
  position: relative;
  left: 40px;


}
.button {
  background-color: #CC7E3D;
}
.upperdlight {
  font-weight: 300;
}
.upperdstandard {
  font-weight: 600;
}

/* #upperdstandard,
#lowerdstandard {
    font-weight: 400;
}

#upperdbolder,
#lowerdbolder {
  font-weight: 700;
} */
/* }
.footerformat {
  display: flex;
}*/
